# Byte-compiled / cache files
training/__pycache__/
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environment
.env
venv/
ENV/
env/

# Data files
/data/
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# Mac OS
.DS_Store

model/
